

:root {
  /* color: hsl(hue, saturation, lightness); */
  --pure-black: hsla(0, 0%, 0%, 1);
  --blue: hsla(213, 100%, 36%, 1);
  --blue-bg: hsla(213, 100%, 46%, 1);
  --black-bg: hsla(0, 0%, 9%, 1);
  --light-bg: hsla(0, 0%, 96%, 1);
  --accent: hsla(43, 100%, 50%, 1);

  /* brand colors */
  --pure-black: hsla(0, 0%, 0%, 1);
  --pure-white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 4%, 1);
  --white: hsla(0, 0%, 96%, 1);
  --blue-darker: hsla(213, 100%, 43%, 1);
  --blue-default: hsla(213, 100%, 46%, 1);
  --blue-lighter: hsla(213, 100%, 50%, 1);
  --yellow-darker: hsla(43, 100%, 48%, 1);
  --yellow-default: hsla(43, 100%, 50%, 1);
  --yellow-lighter: hsla(43, 100%, 55%, 1);



  --background-color: cornsilk;

  /* Font */
  --font-family-sans-serif: 'Montserrat', sans-serif;
  --font-family-heading: 'Montserrat', sans-serif;
  

}



/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images and videos responsive by default */
img,
picture,
video {
    display: block;
    height: auto;
    max-width: 100%;
}



/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
  scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.help {
  outline: 1px solid red;
}

html {
  font-family: 'Montserrat', sans-serif;
  
}

body {
  /* min-block-size: 100vh; */
  max-width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  
  
}

header {
  width: 100%;
  max-width: 90em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.logo-container {
  /* margin: 2rem 3rem; */
}
.logo {
  width: clamp(7rem, 20vw, 9rem);
}

  /* 
  .main-nav {
    justify-content: center;
  }

  .main-nav-ul {
    display: flex;
    height: 100%;
  }

  .main-nav-li {
    margin: auto 2rem;
  }

  .main-nav-a {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
  } 
  */

.call-me-container {
  color: inherit;
  align-items: baseline;
}

.call-me-container a {
  display: flex;
  color: #000;
  font-size: 1.2rem;
  /* font-size: clamp(0.8rem, 2em, 2rem); */
  font-weight: 800;
  text-decoration: none;
  /* text-align: center; */
}

.phone-svg {
  --width: 1.6rem;
  width: --width;
  width: --width;
  margin-left: 0.4em;
}

main {
  /* background-color: var(--background-color); */
  /* background-color: azure; */

  /* background-position: top 20% right 50%; */
  
  /* width: 100%; */
  /* height: 100%; */
  /* resize: vertical;  */
  /* overflow: visible; */
  /* display: flex; */
  /* justify-content: center; */

}

.big-picture {
  padding-block: calc(4rem + 10vw);
  background-image: url("../assets/img/novak-klima-MozJPEG-Q75.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.services {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2rem 3rem;
  width: max-content;
  color: inherit;
  text-align: center;
  border-radius: 0.2em;
}

.services > h2 {
  color: inherit;
  font-size: 1.6rem;
  font-weight: 900;
}

.services > ul {
  text-align: left;
  padding: 1em;
}

/* 
.services ::marker {
  content: "\2736  ";
  color: inherit;
  font-size: 1em;
  margin: 1em;
} */

.services h3 {
  color: inherit;
  font-size: 1.2rem;
  font-weight: 400;
}

.services > h3 {
  color: inherit;
  font-size: 1.2rem;
  font-weight: 800;
}

.hidden {
  display: none;
}


.brands {
  font-family: inherit;
}

.brands-suggested {
  color: inherit;
  text-align: center;
  padding-top: 0.8em;
}

.brand-list {
  min-height: 3rem;
  padding: 2rem;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 1em;
  justify-content: space-around;
  line-height: 1;
}

.brand-list-item {
  font-weight: 900;
}

.brand-list-item > span {
  font-size: 0.75rem;
  font-weight: 400;
}











.gallery {
  
  height: 10em;
  background-color: #eeeeee;
  text-align: center;

}


footer {
  min-height: 6rem;
  /* background-color: var(--background-color); */
  background-color: #ddd;
}

.kapcsolat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2em auto;
  justify-content: space-around;
}

table,
td {
    border: 1px solid #666;
    padding: 0.2rem;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.contact,
.opening-hours,
.map {
  padding: 0.6em;
}

.legal {
  padding: 1rem 0;
  margin: 0 auto;
  text-align: center;
  line-height: 1;
}

.map {
  width: 80%;
  height: 320px;
}
